/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$linkcolor-light: #FFFFFF;
$titleFontColor: #a62425;
$headerFontColor: #353439; // also set in theme options.
$bhm-blue-box-font: #FFFFFF;
$bhm-blue-box-hover: #D14719;
$fontcolor: #FFFFFF;
$input-font-color: #505050;
$content-link-hover: #0B5365;
$silver: #C2C2C2;
$bhm-dk_blue: #003859;
$bhm-dkr_blue: #004469;
$menu-font-color: #FFFFFF;
$bhm-border-blue: #6BAFB8;


// Background colors: 
$bhm-header-bkground: #EBE5CB;
$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //
$bhm-blue: #138AA8;
$bhm-menu-toplevel: #00839c; 
$bhm-menu-topactive: #43a8c6;
$bhm-menu-hover: #43a8c6;
$bhm-menu-2ndlevel: #003859;
$bhm-menu-border: #42a4c7;
$bhm-menu-border2:#004469;

// Other things
$border-radius: 6px;

/* Typography ------------------------------------------ */
